body {
  padding: 0px;
  margin: 0px;
  font-family: 'Rubik', sans-serif !important;
  font-size: 15px;
  /* background-color: rgb(20, 19, 19); */
  background-color: azure;



}

.navbar ul li a:hover {
  border-bottom: 5px solid red;
}


/* used to add space between elements of navbar and footer */
.navbar li {
  padding-left: 15px;
  padding-right: 15px;
}

/* used to add space between elements of navbar and footer */
.btn {
  padding-left: 15px;
  padding-right: 15px;
}

/* to make color grey */
.grey {
  color: grey;
}

.greyfooter {
  color: rgb(156, 156, 156);
}

.center {
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}

.bordera {
  border: none;
}

/* to add margin to welcome to robot cage */
.dream {
  margin-top: 15vh;
  color: white;
  position: relative;
}

/* making shift in my button */
.right {
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(80deg);
  -ms-transform: skewX(100deg);
  transform: skewX(-10deg);
}

/* adding toppadding in dream come true */
.padding {
  padding-top: 20vh;
}

/* style learnmore and explore button */
.learnmorebutton {
  border-radius: none;
  font-size: 0.6rem;

}

/* adding footer button */
.footerbutton {
  position: absolute;
  margin-left: 10%;
}

.header {
  background-image: url(hero-image.png);
  background-size: cover;
  width: 100vw;
  min-height: 80vh;
  height: auto;

  background-position: center;
  background-repeat: no-repeat;
}

/* image style in bcakground */
.second {
  background-image: url(h2-background-img-3.jpg);
  width: 100vw;

  height: auto;
  background-repeat: no-repeat;
  background-size: cover;


}

.dreamcome {
  padding-top: 16%;
  width: 90%;
}

.games {
  padding-top: 5%;
  position: center;
}

.textfooter {
  font-size: 1.2rem;
}

.userreviews {
  background-color: rgb(33, 29, 29);
}

.dreamtrue {
  background-color: rgb(20, 19, 19);
}


.robotcage {
  background-color: rgb(18, 2, 2);
  height: auto;
}

/* border setting below appstore */
.borderbottom {
  border-bottom: 5px solid white;
  width: 25%;
  position: absolute;
  right: 30%;
  transform: translateX(-30%);
}

/* border setting below robotcave */
.bordbottom {
  border-bottom: 5px solid white;
  width: 20%;
}

/*setting for video background */
.videobackground {
  background-image: url(h2-background-img-3.jpg);
  background-position: bottom;
  background-position: center;
  background-repeat: repeat-y;
  width: 100vw;
}

.text {
  font-size: 0.4em;
}



.footera {
  background-color: rgb(28, 27, 27);
}

.tt {
  border: none;
}

@media(max-width:1000px) {
  .headerbackground {
    background-image: none;

    background-color: black;

  }
}

@media(max-width:1000px) {
  .navbar a img {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);


  }
}


@media(max-width:800px) {
  #logo {
    align-items: left;
  }
}

@media screen and (min-width:540px) and (max-width:900px) {


  .headingsize {
    font-size: 3em;
  }
}

@media (max-width:540px) {


  .headingsize {
    font-size: 1.6em;

  }
}

@media (max-width:900px) {

  .iconblock {
    display: none;
  }
}

@media (max-width:700px) {

  .font {
    font-size: 0.8em;
  }
}

/* removing background */
@media (max-width:900px) {

  .secondcontainer {
    background-image: none;
    background-color: rgb(38, 38, 38);
  }
}


/* sets image according to different px size screens  */


@media(max-width:600px) {
  .imagesize {
    max-width: 80%;
    justify-content: center;
  }
}

@media(max-width:450px) {
  .imagesize {
    max-width: 60%;
    justify-content: center;
  }
}

@media(max-width:300px) {
  .imagesize {
    max-width: 500%;
    justify-content: center;
  }
}

@media(min-width:450px) {
  .imageresize {
    font-size: 2em;

  }
}

@media(max-width:450px) {
  .imageresize {
    font-size: 1em;

  }
}
